body {
    padding: 10px 30px;
    font-family: 'roboto_slabregular', sans-serif;
}

.searchform {
    width: 50%;
}


/*
.searchform label {
    display: block;
    font-size: 1em;
}

.searchform label span {
    margin-top: 15px;
    display: inline-block;
    min-width: 100px;
}

input.date {
    font-size: 1em;
    padding: 3px;
    font-family: 'roboto_slabregular', sans-serif;
}

input.searchsubmit {
    font-size: 1.5em;
    padding: 5px;
    font-family: 'roboto_slabregular', sans-serif;
}
*/
