<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MDMS</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    </head>
    <body>
        <div class="container">
            <h1><a href="{{ url_for('index') }}">MDMS</a></h1>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
