{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h2>General</h2>
<form method="post" action="{{ url_for('save', uuid='new') }}">
    <table>
        <tr><td>Name:</td><td><input type="text" name="name" value=""></td></tr>
        <tr><td>Date:</td><td><input type="text" name="date" value=""></td></tr>
        <tr><td>Extra:</td><td><textarea name="extra" cols=70 rows=10></textarea></td></tr>
    </table>
    <input type="submit" value="Save">
</form>
{% endblock %}
