{% extends "base.html" %}
{% block content %}
<h2>{{ doc.name }}</h2>
<table>
    <tr><td>Date:</td><td>{{ doc.document_date.date() }}</td></tr>
    <tr><td>Extra:</td><td><p style="white-space:pre-wrap">{{ doc.extra if doc.extra != None }}</p></td></tr>
    <tr><td>Tags:</td>
        <td>
            <ul>
                {% for tag in doc.tags|sort %}
                <li>{{ tag }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr><td>Files</td>
        <td>
            <ul>
            {% for file in files %}
            <li>
                <a href="{{ url_for('download', uuid=doc.uuid, file=file) }}">{{ file }}</a>
            </li>
            {% endfor %}
            </ul>
        </td>
    </tr>
</table>
<a href="{{ url_for('edit', uuid=doc.uuid) }}">Edit document</a>
{% endblock %}
