{% extends "base.html" %}
{% block content %}
<h2>{{ doc.name }}</h2>

<div class="row">
    <div class="col-md-1">
        <strong>Date</strong>
    </div>
    <div class="col-md-3">
        {{ doc.document_date }}
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <strong>Extra</strong>
    </div>
    <div class="col-md-3">
        <div class="prewrap">{{ doc.extra if doc.extra != None }}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <strong>Tags</strong>
    </div>
</div>
<div class="row">
    {% for tag in doc.tags|sort %}
    <div class="col-md-1">
        <a href="{{ url_for('search') }}?tags={{ tag }}" class="btn btn-default">{{ tag }}</a>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col-md-1">
        <strong>Files</strong>
    </div>
</div>
{% for file in files %}
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-link truncate" href="{{ url_for('download', uuid=doc.uuid, file=file) }}">{{ file }}</a>
    </div>
</div>

{% endfor %}
<a class="btn btn-warning" href="{{ url_for('edit', uuid=doc.uuid) }}">Edit document</a>
{% endblock %}
