{% extends "base.html" %}

{% block content %}
<h2>General</h2>
<form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
    <div class="form-group row">
        <div class="col-md-4">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ doc.name }}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="{{ doc.creation_date.date() }}" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <label for="extra">Extra</label>
            <textarea id="extra" name="extra" rows=10 class="form-control">{{ doc.extra }}</textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<h2>Tags</h2>
<p>Click a tag to delete it</p>
<div class="row">
    {% for tag in doc.tags|sort %}
    <div class="col-md-1 col-add-bottom">
        <form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
            <input type="hidden" name="tag" value="{{ tag }}" class="form-control">
            <button type="submit" name="deltag" class="btn btn-warning">{{ tag }}</button>
        </form>
    </div>
    {% endfor %}
</div>

<div class="row"><div class="col-md-4">Add a tag</div></div>
<form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
    <div class="row">
        <div class="col-md-4">
            <input type="text" name="tag" class="form-control">
        </div>
        <div class="col-md-1">
            <button type="submit" name="addtag" class="btn btn-success">Add tag</button>
        </div>
    </div>
</form>

<h2>Files</h2>
<h3>Delete current</h3>
{% for file in files %}
<div class="row">
    <div class="col-md-1">
        <form method="post" action="{{ url_for('save', uuid=doc.uuid) }}">
            <input type="hidden" name="file" value="{{ file }}">
            <button type="submit" name="delfile" class="btn btn-warning">Delete</button>
        </form>
    </div>
    <div class="col-md-8">
        <a href="{{ url_for('download', uuid=doc.uuid, file=file) }}" class="btn btn-link">{{ file }}</a>
    </div>
</div>
{% endfor %}

<h3>Upload new</h3>
<div class="row">
    <form method="post" action="{{ url_for('upload', uuid=doc.uuid) }}" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-md-4">
                <input type="file" name="document">
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success">Upload</button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-1">
        <a href="{{ url_for('delete', uuid=doc.uuid) }}" class="btn btn-danger">Delete document</a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a class="btn btn-info" href="{{ url_for('document', uuid=doc.uuid) }}">View document</a>
    </div>
</div>
{% endblock %}
